$electron-blue: #0984e3;
$shy-moment: #a29bfe;
$first-date: #fab1a0;
$orangeville: #e17055;
$pint-glamor: #ff7675;
$sour-lemon: #ffeaa7;
$robins-egg: #00cec9;
$mint-leaf: #00b894;
$american-river: #636e72;

// brand colors inspiration: https://flatuicolors.com/palette/us
