// we import the existing sass variables
@import '../variables.scss';

// we can export them as js vars...
:export {
  darkBlue: $dark-blue;
  lightBlue: $light-blue;
  lightGrey: $light-grey;
  grey: $grey;
  mediumGrey: $medium-grey;
  darkGrey: $dark-grey;
  black: $black;
  white: $white;
  salmon: $salmon;
}
